# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Переменные окружения (ВАЖНО - тут пароли!)
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Базы данных
*.db
*.sqlite

# Логи
*.log

# OS
.DS_Store
Thumbs.db

